################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/Kronso/bin/System.Web.WebPages.xml
/Kronso/bin/System.Web.WebPages.Razor.xml
/Kronso/bin/System.Web.WebPages.Deployment.xml
/Kronso/bin/System.Web.Razor.xml
/Kronso/bin/System.Web.Optimization.xml
/Kronso/bin/System.Web.Mvc.xml
/Kronso/bin/System.Web.Helpers.xml
/Kronso/bin/roslyn/VBCSCompiler.exe.config
/Kronso/bin/roslyn/VBCSCompiler.exe
/Kronso/bin/roslyn/vbc.exe
/Kronso/bin/roslyn/System.Reflection.Metadata.dll
/Kronso/bin/roslyn/System.Collections.Immutable.dll
/Kronso/bin/roslyn/Microsoft.VisualBasic.Core.targets
/Kronso/bin/roslyn/Microsoft.CSharp.Core.targets
/Kronso/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/Kronso/bin/roslyn/Microsoft.CodeAnalysis.dll
/Kronso/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/Kronso/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/Kronso/bin/roslyn/csc.exe
/Kronso/bin/roslyn
/Kronso/bin/Newtonsoft.Json.xml
/Kronso/bin/Microsoft.Owin.xml
/Kronso/bin/Microsoft.Owin.Security.xml
/Kronso/bin/Microsoft.Owin.Security.Twitter.xml
/Kronso/bin/Microsoft.Owin.Security.OAuth.xml
/Kronso/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
/Kronso/bin/Microsoft.Owin.Security.Google.xml
/Kronso/bin/Microsoft.Owin.Security.Facebook.xml
/Kronso/bin/Microsoft.Owin.Security.Cookies.xml
/Kronso/bin/Microsoft.Owin.Host.SystemWeb.xml
/Kronso/bin/Microsoft.AspNet.Identity.Owin.xml
/Kronso/bin/Microsoft.AspNet.Identity.EntityFramework.xml
/Kronso/bin/Microsoft.AspNet.Identity.Core.xml
/Kronso/bin/Microsoft.ApplicationInsights.xml
/Kronso/bin/Microsoft.AI.WindowsServer.xml
/Kronso/bin/Microsoft.AI.Web.xml
/Kronso/bin/Microsoft.AI.ServerTelemetryChannel.xml
/Kronso/bin/Microsoft.AI.DependencyCollector.xml
/Kronso/bin/Kronso.pdb
/Kronso/bin/Kronso.dll.config
/Kronso/bin/Kronso.dll
/Kronso/bin/EntityFramework.xml
/Kronso/bin/EntityFramework.SqlServer.xml
/Kronso/bin/ApplicationInsights.config
/Kronso/bin/Antlr3.Runtime.pdb
/Kronso/obj/Debug/Kronso.csproj.FileListAbsolute.txt
/Kronso/obj/Debug/Kronso.csprojResolveAssemblyReference.cache
/Kronso/obj/Debug/Kronso.dll
/Kronso/obj/Debug/Kronso.pdb
